<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <h1> Page Links</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Register">Register</a></li>
      <li><a href="/Login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    <h1>Hello World</h1>
    <p>
      This is a template for a simple marketing or informational website. It
      includes a large callout called a jumbotron and three supporting pieces of
      content. Use it as a starting point to create something more unique.
    </p>

  </body>
</html>
